In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from keras.models import Sequential
from keras.layers import LSTM, Dropout, Dense, Activation 

import datetime

In [2]:
data1 = pd.read_csv('dataset/multiTimeline_w.csv')
data2 = pd.read_excel('dataset/방한_외래관광객21.xlsx')

In [3]:
# 인덱스를 등록

df1 = data1.set_index('date') #이거 함수 만들까?

df2 = data2.set_index('년')


df1.index = pd.to_datetime(df1.index)

df2.index = pd.to_datetime(df2.index)


print(df1)
print(df2)

            data
date
2016-01-03    17
2016-01-10    18
2016-01-17    17
2016-01-24    16
2016-01-31    15
...          ...
2021-01-31    20
2021-02-07    22
2021-02-14    21
2021-02-21    21
2021-02-28    20

[270 rows x 1 columns]
                인원수
년
2016-01-01  1077431
2016-02-01  1126250
2016-03-01  1389399
2016-04-01  1469674
2016-05-01  1492680
...             ...
2020-10-01    61585
2020-11-01    61764
2020-12-01    62344
2021-01-01    58397
2021-02-01    65582

[62 rows x 1 columns]

In [4]:
# df_1 (관심도 할당됨) 나누기

def Create_Windows(y, m):
    results = []

    for y in df_date_y:
        for m in df_date_m:
            try:
                target_period = str(y) +"-"+str(m)
                print(target_period)
                results.append(df1[target_period])
            except (KeyError):
                print("종료")
                break
    return results

df_date_y = range(2016,2022)
df_date_m = range(1,13)

df_1_tw = Create_Windows(df_date_y,df_date_m)
df_1_tw

2016-1
2016-2
2016-3
2016-4
2016-5
2016-6
2016-7
2016-8
2016-9
2016-10
2016-11
2016-12
2017-1
2017-2
2017-3
2017-4
2017-5
2017-6
2017-7
2017-8
2017-9
2017-10
2017-11
2017-12
2018-1
2018-2
2018-3
2018-4
2018-5
2018-6
2018-7
2018-8
2018-9
2018-10
2018-11
2018-12
2019-1
2019-2
2019-3
2019-4
2019-5
2019-6
2019-7
2019-8
2019-9
2019-10
2019-11
2019-12
2020-1
2020-2
2020-3
2020-4
2020-5
2020-6
2020-7
2020-8
2020-9
2020-10
2020-11
2020-12
2021-1
2021-2
2021-3
종료

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  # This is added back by InteractiveShellApp.init_path()

[            data
 date
 2016-01-03    17
 2016-01-10    18
 2016-01-17    17
 2016-01-24    16
 2016-01-31    15,
             data
 date
 2016-02-07    15
 2016-02-14    20
 2016-02-21    17
 2016-02-28    19,
             data
 date
 2016-03-06    20
 2016-03-13    19
 2016-03-20    19
 2016-03-27    24,
             data
 date
 2016-04-03    19
 2016-04-10    19
 2016-04-17    19
 2016-04-24    18,
             data
 date
 2016-05-01    17
 2016-05-08    20
 2016-05-15    20
 2016-05-22    19
 2016-05-29    20,
             data
 date
 2016-06-05    19
 2016-06-12    21
 2016-06-19    17
 2016-06-26    18,
             data
 date
 2016-07-03    20
 2016-07-10    21
 2016-07-17    20
 2016-07-24    18
 2016-07-31    21,
             data
 date
 2016-08-07    19
 2016-08-14    16
 2016-08-21    20
 2016-08-28    20,
             data
 date
 2016-09-04    20
 2016-09-11    20
 2016-09-18    20
 2016-09-25    19,
             data
 date
 2016-10-02    20
 2016-10-09    19
 2016-10-16    19
 2016-10-23    19
 2016-10-30    18,
             data
 date
 2016-11-06    19
 2016-11-13    20
 2016-11-20    19
 2016-11-27    22,
             data
 date
 2016-12-04    41
 2016-12-11    42
 2016-12-18    42
 2016-12-25    46,
             data
 date
 2017-01-01    55
 2017-01-08    53
 2017-01-15    47
 2017-01-22    51
 2017-01-29    48,
             data
 date
 2017-02-05    54
 2017-02-12    50
 2017-02-19    52
 2017-02-26    53,
             data
 date
 2017-03-05    57
 2017-03-12    57
 2017-03-19    57
 2017-03-26    54,
             data
 date
 2017-04-02    48
 2017-04-09    57
 2017-04-16    52
 2017-04-23    47
 2017-04-30    46,
             data
 date
 2017-05-07    42
 2017-05-14    44
 2017-05-21    46
 2017-05-28    44,
             data
 date
 2017-06-04    42
 2017-06-11    44
 2017-06-18    49
 2017-06-25    47,
             data
 date
 2017-07-02    51
 2017-07-09    50
 2017-07-16    45
 2017-07-23    49
 2017-07-30    47,
             data
 date
 2017-08-06    47
 2017-08-13    51
 2017-08-20    50
 2017-08-27    49,
             data
 date
 2017-09-03    50
 2017-09-10    50
 2017-09-17    49
 2017-09-24    47,
             data
 date
 2017-10-01    50
 2017-10-08    51
 2017-10-15    47
 2017-10-22    47
 2017-10-29    51,
             data
 date
 2017-11-05    55
 2017-11-12    48
 2017-11-19    47
 2017-11-26    45,
             data
 date
 2017-12-03    46
 2017-12-10    47
 2017-12-17    47
 2017-12-24    51
 2017-12-31    54,
             data
 date
 2018-01-07    53
 2018-01-14    56
 2018-01-21    55
 2018-01-28    50,
             data
 date
 2018-02-04    59
 2018-02-11    56
 2018-02-18    58
 2018-02-25    57,
             data
 date
 2018-03-04    60
 2018-03-11    56
 2018-03-18    58
 2018-03-25    53,
             data
 date
 2018-04-01    56
 2018-04-08    52
 2018-04-15    49
 2018-04-22    53
 2018-04-29    57,
             data
 date
 2018-05-06    50
 2018-05-13    50
 2018-05-20    55
 2018-05-27    56,
             data
 date
 2018-06-03    57
 2018-06-10    57
 2018-06-17    72
 2018-06-24    71,
             data
 date
 2018-07-01    58
 2018-07-08    58
 2018-07-15    53
 2018-07-22    52
 2018-07-29    57,
             data
 date
 2018-08-05    57
 2018-08-12    60
 2018-08-19    64
 2018-08-26    69,
             data
 date
 2018-09-02    59
 2018-09-09    58
 2018-09-16    53
 2018-09-23    52
 2018-09-30    54,
             data
 date
 2018-10-07    59
 2018-10-14    60
 2018-10-21    55
 2018-10-28    55,
             data
 date
 2018-11-04    51
 2018-11-11    52
 2018-11-18    53
 2018-11-25    51,
             data
 date
 2018-12-02    49
 2018-12-09    49
 2018-12-16    51
 2018-12-23    57
 2018-12-30    61,
             data
 date
 2019-01-06    60
 2019-01-13    58
 2019-01-20    53
 2019-01-27    26,
             data
 date
 2019-02-03    21
 2019-02-10    20
 2019-02-17    24
 2019-02-24    22,
             data
 date
 2019-03-03    21
 2019-03-10    21
 2019-03-17    22
 2019-03-24    23
 2019-03-31    51,
             data
 date
 2019-04-07    55
 2019-04-14    54
 2019-04-21    62
 2019-04-28    59,
             data
 date
 2019-05-05    54
 2019-05-12    52
 2019-05-19    55
 2019-05-26    56,
             data
 date
 2019-06-02    57
 2019-06-09    61
 2019-06-16    61
 2019-06-23    64
 2019-06-30    63,
             data
 date
 2019-07-07    64
 2019-07-14    63
 2019-07-21    61
 2019-07-28    63,
             data
 date
 2019-08-04    64
 2019-08-11    64
 2019-08-18    65
 2019-08-25    61,
             data
 date
 2019-09-01    60
 2019-09-08    57
 2019-09-15    56
 2019-09-22    57
 2019-09-29    53,
             data
 date
 2019-10-06    65
 2019-10-13    55
 2019-10-20    55
 2019-10-27    55,
             data
 date
 2019-11-03    56
 2019-11-10    56
 2019-11-17    59
 2019-11-24    53,
             data
 date
 2019-12-01    51
 2019-12-08    55
 2019-12-15    52
 2019-12-22    56
 2019-12-29    54,
             data
 date
 2020-01-05    60
 2020-01-12    57
 2020-01-19    57
 2020-01-26    56,
             data
 date
 2020-02-02    54
 2020-02-09    54
 2020-02-16    62
 2020-02-23   100,
             data
 date
 2020-03-01    58
 2020-03-08    37
 2020-03-15    32
 2020-03-22    27
 2020-03-29    24,
             data
 date
 2020-04-05    22
 2020-04-12    20
 2020-04-19    22
 2020-04-26    24,
             data
 date
 2020-05-03    24
 2020-05-10    27
 2020-05-17    25
 2020-05-24    27
 2020-05-31    22,
             data
 date
 2020-06-07    23
 2020-06-14    24
 2020-06-21    27
 2020-06-28    25,
             data
 date
 2020-07-05    25
 2020-07-12    23
 2020-07-19    24
 2020-07-26    24,
             data
 date
 2020-08-02    21
 2020-08-09    24
 2020-08-16    20
 2020-08-23    22
 2020-08-30    21,
             data
 date
 2020-09-06    22
 2020-09-13    20
 2020-09-20    23
 2020-09-27    20,
             data
 date
 2020-10-04    22
 2020-10-11    20
 2020-10-18    22
 2020-10-25    20,
             data
 date
 2020-11-01    17
 2020-11-08    19
 2020-11-15    21
 2020-11-22    20
 2020-11-29    19,
             data
 date
 2020-12-06    18
 2020-12-13    21
 2020-12-20    21
 2020-12-27    22,
             data
 date
 2021-01-03    21
 2021-01-10    22
 2021-01-17    20
 2021-01-24    20
 2021-01-31    20,
             data
 date
 2021-02-07    22
 2021-02-14    21
 2021-02-21    21
 2021-02-28    20]

In [5]:

# 미래의 y 값 함수
# def y_data_call (Input_date,n):
#     # 계산값을 담을 변수 
#     forecast_target_month = datetime.timedelta(months=n)
#     Calculated_time = Input_date + forecast_target_month
#     return Calculated_time

# 미래의 y 값 함수 (이름을 바꿀까? y 값 당겨오기)
def y_data_call (n):
    y_operation = df2[n:]
    return y_operation

In [6]:
# 바로 저번달의 최신 데이터 날짜 가져오기
def last_week_data_1w_call (Input_date): 
    forecast_target_week = datetime.timedelta(weeks=1)
    Calculated_time = Input_date - forecast_target_week
    return Calculated_time

#여기선 상속을 쓰던가? 일단 빨리 구현하자...

In [7]:
def Transpose_scalar_DataFrame_transform (test1):
    test2 = pd.DataFrame(test1)
    test2 = test2.T # 이 방식으로 만들자
    test2 # 뭐... 누가봐도 대충이긴 한대... 이젠 귀찮아...
    #아! 리턴을 안햇내 하하...
    return test2

In [8]:
# df_1_tw 의 길이 4인 행만 골라서 그 이전달의 최신 데이터 가져오기

df_1_w = []
for Tew_v in df_1_tw:
    
#     df_1_w_in = Tew_v
    if len(Tew_v) < 5:
        
        a = last_week_data_1w_call(Tew_v.index[0])
        week_ago_data = df1.loc[a]
#         b = pd.DataFrame(week_ago_data)
        b = Transpose_scalar_DataFrame_transform(week_ago_data) # 데이터 프레임 변환 -> 전치시킴
#         print(b) #아!
        df_1_w_in = pd.concat([b, Tew_v])
        df_1_w.append(df_1_w_in)
    else:
        df_1_w.append(Tew_v)

df_1_w #  성공.....

[            data
 date
 2016-01-03    17
 2016-01-10    18
 2016-01-17    17
 2016-01-24    16
 2016-01-31    15,
             data
 2016-01-31    15
 2016-02-07    15
 2016-02-14    20
 2016-02-21    17
 2016-02-28    19,
             data
 2016-02-28    19
 2016-03-06    20
 2016-03-13    19
 2016-03-20    19
 2016-03-27    24,
             data
 2016-03-27    24
 2016-04-03    19
 2016-04-10    19
 2016-04-17    19
 2016-04-24    18,
             data
 date
 2016-05-01    17
 2016-05-08    20
 2016-05-15    20
 2016-05-22    19
 2016-05-29    20,
             data
 2016-05-29    20
 2016-06-05    19
 2016-06-12    21
 2016-06-19    17
 2016-06-26    18,
             data
 date
 2016-07-03    20
 2016-07-10    21
 2016-07-17    20
 2016-07-24    18
 2016-07-31    21,
             data
 2016-07-31    21
 2016-08-07    19
 2016-08-14    16
 2016-08-21    20
 2016-08-28    20,
             data
 2016-08-28    20
 2016-09-04    20
 2016-09-11    20
 2016-09-18    20
 2016-09-25    19,
             data
 date
 2016-10-02    20
 2016-10-09    19
 2016-10-16    19
 2016-10-23    19
 2016-10-30    18,
             data
 2016-10-30    18
 2016-11-06    19
 2016-11-13    20
 2016-11-20    19
 2016-11-27    22,
             data
 2016-11-27    22
 2016-12-04    41
 2016-12-11    42
 2016-12-18    42
 2016-12-25    46,
             data
 date
 2017-01-01    55
 2017-01-08    53
 2017-01-15    47
 2017-01-22    51
 2017-01-29    48,
             data
 2017-01-29    48
 2017-02-05    54
 2017-02-12    50
 2017-02-19    52
 2017-02-26    53,
             data
 2017-02-26    53
 2017-03-05    57
 2017-03-12    57
 2017-03-19    57
 2017-03-26    54,
             data
 date
 2017-04-02    48
 2017-04-09    57
 2017-04-16    52
 2017-04-23    47
 2017-04-30    46,
             data
 2017-04-30    46
 2017-05-07    42
 2017-05-14    44
 2017-05-21    46
 2017-05-28    44,
             data
 2017-05-28    44
 2017-06-04    42
 2017-06-11    44
 2017-06-18    49
 2017-06-25    47,
             data
 date
 2017-07-02    51
 2017-07-09    50
 2017-07-16    45
 2017-07-23    49
 2017-07-30    47,
             data
 2017-07-30    47
 2017-08-06    47
 2017-08-13    51
 2017-08-20    50
 2017-08-27    49,
             data
 2017-08-27    49
 2017-09-03    50
 2017-09-10    50
 2017-09-17    49
 2017-09-24    47,
             data
 date
 2017-10-01    50
 2017-10-08    51
 2017-10-15    47
 2017-10-22    47
 2017-10-29    51,
             data
 2017-10-29    51
 2017-11-05    55
 2017-11-12    48
 2017-11-19    47
 2017-11-26    45,
             data
 date
 2017-12-03    46
 2017-12-10    47
 2017-12-17    47
 2017-12-24    51
 2017-12-31    54,
             data
 2017-12-31    54
 2018-01-07    53
 2018-01-14    56
 2018-01-21    55
 2018-01-28    50,
             data
 2018-01-28    50
 2018-02-04    59
 2018-02-11    56
 2018-02-18    58
 2018-02-25    57,
             data
 2018-02-25    57
 2018-03-04    60
 2018-03-11    56
 2018-03-18    58
 2018-03-25    53,
             data
 date
 2018-04-01    56
 2018-04-08    52
 2018-04-15    49
 2018-04-22    53
 2018-04-29    57,
             data
 2018-04-29    57
 2018-05-06    50
 2018-05-13    50
 2018-05-20    55
 2018-05-27    56,
             data
 2018-05-27    56
 2018-06-03    57
 2018-06-10    57
 2018-06-17    72
 2018-06-24    71,
             data
 date
 2018-07-01    58
 2018-07-08    58
 2018-07-15    53
 2018-07-22    52
 2018-07-29    57,
             data
 2018-07-29    57
 2018-08-05    57
 2018-08-12    60
 2018-08-19    64
 2018-08-26    69,
             data
 date
 2018-09-02    59
 2018-09-09    58
 2018-09-16    53
 2018-09-23    52
 2018-09-30    54,
             data
 2018-09-30    54
 2018-10-07    59
 2018-10-14    60
 2018-10-21    55
 2018-10-28    55,
             data
 2018-10-28    55
 2018-11-04    51
 2018-11-11    52
 2018-11-18    53
 2018-11-25    51,
             data
 date
 2018-12-02    49
 2018-12-09    49
 2018-12-16    51
 2018-12-23    57
 2018-12-30    61,
             data
 2018-12-30    61
 2019-01-06    60
 2019-01-13    58
 2019-01-20    53
 2019-01-27    26,
             data
 2019-01-27    26
 2019-02-03    21
 2019-02-10    20
 2019-02-17    24
 2019-02-24    22,
             data
 date
 2019-03-03    21
 2019-03-10    21
 2019-03-17    22
 2019-03-24    23
 2019-03-31    51,
             data
 2019-03-31    51
 2019-04-07    55
 2019-04-14    54
 2019-04-21    62
 2019-04-28    59,
             data
 2019-04-28    59
 2019-05-05    54
 2019-05-12    52
 2019-05-19    55
 2019-05-26    56,
             data
 date
 2019-06-02    57
 2019-06-09    61
 2019-06-16    61
 2019-06-23    64
 2019-06-30    63,
             data
 2019-06-30    63
 2019-07-07    64
 2019-07-14    63
 2019-07-21    61
 2019-07-28    63,
             data
 2019-07-28    63
 2019-08-04    64
 2019-08-11    64
 2019-08-18    65
 2019-08-25    61,
             data
 date
 2019-09-01    60
 2019-09-08    57
 2019-09-15    56
 2019-09-22    57
 2019-09-29    53,
             data
 2019-09-29    53
 2019-10-06    65
 2019-10-13    55
 2019-10-20    55
 2019-10-27    55,
             data
 2019-10-27    55
 2019-11-03    56
 2019-11-10    56
 2019-11-17    59
 2019-11-24    53,
             data
 date
 2019-12-01    51
 2019-12-08    55
 2019-12-15    52
 2019-12-22    56
 2019-12-29    54,
             data
 2019-12-29    54
 2020-01-05    60
 2020-01-12    57
 2020-01-19    57
 2020-01-26    56,
             data
 2020-01-26    56
 2020-02-02    54
 2020-02-09    54
 2020-02-16    62
 2020-02-23   100,
             data
 date
 2020-03-01    58
 2020-03-08    37
 2020-03-15    32
 2020-03-22    27
 2020-03-29    24,
             data
 2020-03-29    24
 2020-04-05    22
 2020-04-12    20
 2020-04-19    22
 2020-04-26    24,
             data
 date
 2020-05-03    24
 2020-05-10    27
 2020-05-17    25
 2020-05-24    27
 2020-05-31    22,
             data
 2020-05-31    22
 2020-06-07    23
 2020-06-14    24
 2020-06-21    27
 2020-06-28    25,
             data
 2020-06-28    25
 2020-07-05    25
 2020-07-12    23
 2020-07-19    24
 2020-07-26    24,
             data
 date
 2020-08-02    21
 2020-08-09    24
 2020-08-16    20
 2020-08-23    22
 2020-08-30    21,
             data
 2020-08-30    21
 2020-09-06    22
 2020-09-13    20
 2020-09-20    23
 2020-09-27    20,
             data
 2020-09-27    20
 2020-10-04    22
 2020-10-11    20
 2020-10-18    22
 2020-10-25    20,
             data
 date
 2020-11-01    17
 2020-11-08    19
 2020-11-15    21
 2020-11-22    20
 2020-11-29    19,
             data
 2020-11-29    19
 2020-12-06    18
 2020-12-13    21
 2020-12-20    21
 2020-12-27    22,
             data
 date
 2021-01-03    21
 2021-01-10    22
 2021-01-17    20
 2021-01-24    20
 2021-01-31    20,
             data
 2021-01-31    20
 2021-02-07    22
 2021-02-14    21
 2021-02-21    21
 2021-02-28    20]

In [10]:
df_1_tw[0].index[0] #(이걸 집어 넣기)

Timestamp('2016-01-03 00:00:00')

In [11]:
# df1.index['2016-01-03 00:00:00'] #예상 못한 상황
df1.loc['2016-01-03 00:00:00']

data    17
Name: 2016-01-03 00:00:00, dtype: int64

In [12]:
df2[1:]

                인원수
년
2016-02-01  1126250
2016-03-01  1389399
2016-04-01  1469674
2016-05-01  1492680
2016-06-01  1554413
...             ...
2020-10-01    61585
2020-11-01    61764
2020-12-01    62344
2021-01-01    58397
2021-02-01    65582

[61 rows x 1 columns]

In [15]:
df_2_w = y_data_call(1)# [1개만 앞으로 당김]
df_2_w

                인원수
년
2016-02-01  1126250
2016-03-01  1389399
2016-04-01  1469674
2016-05-01  1492680
2016-06-01  1554413
...             ...
2020-10-01    61585
2020-11-01    61764
2020-12-01    62344
2021-01-01    58397
2021-02-01    65582

[61 rows x 1 columns]

In [25]:
df1_n = 62
c = 1
df1_nc = df_1_w[:df1_n-c]
df1_nc

[            data
 date
 2016-01-03    17
 2016-01-10    18
 2016-01-17    17
 2016-01-24    16
 2016-01-31    15,
             data
 2016-01-31    15
 2016-02-07    15
 2016-02-14    20
 2016-02-21    17
 2016-02-28    19,
             data
 2016-02-28    19
 2016-03-06    20
 2016-03-13    19
 2016-03-20    19
 2016-03-27    24,
             data
 2016-03-27    24
 2016-04-03    19
 2016-04-10    19
 2016-04-17    19
 2016-04-24    18,
             data
 date
 2016-05-01    17
 2016-05-08    20
 2016-05-15    20
 2016-05-22    19
 2016-05-29    20,
             data
 2016-05-29    20
 2016-06-05    19
 2016-06-12    21
 2016-06-19    17
 2016-06-26    18,
             data
 date
 2016-07-03    20
 2016-07-10    21
 2016-07-17    20
 2016-07-24    18
 2016-07-31    21,
             data
 2016-07-31    21
 2016-08-07    19
 2016-08-14    16
 2016-08-21    20
 2016-08-28    20,
             data
 2016-08-28    20
 2016-09-04    20
 2016-09-11    20
 2016-09-18    20
 2016-09-25    19,
             data
 date
 2016-10-02    20
 2016-10-09    19
 2016-10-16    19
 2016-10-23    19
 2016-10-30    18,
             data
 2016-10-30    18
 2016-11-06    19
 2016-11-13    20
 2016-11-20    19
 2016-11-27    22,
             data
 2016-11-27    22
 2016-12-04    41
 2016-12-11    42
 2016-12-18    42
 2016-12-25    46,
             data
 date
 2017-01-01    55
 2017-01-08    53
 2017-01-15    47
 2017-01-22    51
 2017-01-29    48,
             data
 2017-01-29    48
 2017-02-05    54
 2017-02-12    50
 2017-02-19    52
 2017-02-26    53,
             data
 2017-02-26    53
 2017-03-05    57
 2017-03-12    57
 2017-03-19    57
 2017-03-26    54,
             data
 date
 2017-04-02    48
 2017-04-09    57
 2017-04-16    52
 2017-04-23    47
 2017-04-30    46,
             data
 2017-04-30    46
 2017-05-07    42
 2017-05-14    44
 2017-05-21    46
 2017-05-28    44,
             data
 2017-05-28    44
 2017-06-04    42
 2017-06-11    44
 2017-06-18    49
 2017-06-25    47,
             data
 date
 2017-07-02    51
 2017-07-09    50
 2017-07-16    45
 2017-07-23    49
 2017-07-30    47,
             data
 2017-07-30    47
 2017-08-06    47
 2017-08-13    51
 2017-08-20    50
 2017-08-27    49,
             data
 2017-08-27    49
 2017-09-03    50
 2017-09-10    50
 2017-09-17    49
 2017-09-24    47,
             data
 date
 2017-10-01    50
 2017-10-08    51
 2017-10-15    47
 2017-10-22    47
 2017-10-29    51,
             data
 2017-10-29    51
 2017-11-05    55
 2017-11-12    48
 2017-11-19    47
 2017-11-26    45,
             data
 date
 2017-12-03    46
 2017-12-10    47
 2017-12-17    47
 2017-12-24    51
 2017-12-31    54,
             data
 2017-12-31    54
 2018-01-07    53
 2018-01-14    56
 2018-01-21    55
 2018-01-28    50,
             data
 2018-01-28    50
 2018-02-04    59
 2018-02-11    56
 2018-02-18    58
 2018-02-25    57,
             data
 2018-02-25    57
 2018-03-04    60
 2018-03-11    56
 2018-03-18    58
 2018-03-25    53,
             data
 date
 2018-04-01    56
 2018-04-08    52
 2018-04-15    49
 2018-04-22    53
 2018-04-29    57,
             data
 2018-04-29    57
 2018-05-06    50
 2018-05-13    50
 2018-05-20    55
 2018-05-27    56,
             data
 2018-05-27    56
 2018-06-03    57
 2018-06-10    57
 2018-06-17    72
 2018-06-24    71,
             data
 date
 2018-07-01    58
 2018-07-08    58
 2018-07-15    53
 2018-07-22    52
 2018-07-29    57,
             data
 2018-07-29    57
 2018-08-05    57
 2018-08-12    60
 2018-08-19    64
 2018-08-26    69,
             data
 date
 2018-09-02    59
 2018-09-09    58
 2018-09-16    53
 2018-09-23    52
 2018-09-30    54,
             data
 2018-09-30    54
 2018-10-07    59
 2018-10-14    60
 2018-10-21    55
 2018-10-28    55,
             data
 2018-10-28    55
 2018-11-04    51
 2018-11-11    52
 2018-11-18    53
 2018-11-25    51,
             data
 date
 2018-12-02    49
 2018-12-09    49
 2018-12-16    51
 2018-12-23    57
 2018-12-30    61,
             data
 2018-12-30    61
 2019-01-06    60
 2019-01-13    58
 2019-01-20    53
 2019-01-27    26,
             data
 2019-01-27    26
 2019-02-03    21
 2019-02-10    20
 2019-02-17    24
 2019-02-24    22,
             data
 date
 2019-03-03    21
 2019-03-10    21
 2019-03-17    22
 2019-03-24    23
 2019-03-31    51,
             data
 2019-03-31    51
 2019-04-07    55
 2019-04-14    54
 2019-04-21    62
 2019-04-28    59,
             data
 2019-04-28    59
 2019-05-05    54
 2019-05-12    52
 2019-05-19    55
 2019-05-26    56,
             data
 date
 2019-06-02    57
 2019-06-09    61
 2019-06-16    61
 2019-06-23    64
 2019-06-30    63,
             data
 2019-06-30    63
 2019-07-07    64
 2019-07-14    63
 2019-07-21    61
 2019-07-28    63,
             data
 2019-07-28    63
 2019-08-04    64
 2019-08-11    64
 2019-08-18    65
 2019-08-25    61,
             data
 date
 2019-09-01    60
 2019-09-08    57
 2019-09-15    56
 2019-09-22    57
 2019-09-29    53,
             data
 2019-09-29    53
 2019-10-06    65
 2019-10-13    55
 2019-10-20    55
 2019-10-27    55,
             data
 2019-10-27    55
 2019-11-03    56
 2019-11-10    56
 2019-11-17    59
 2019-11-24    53,
             data
 date
 2019-12-01    51
 2019-12-08    55
 2019-12-15    52
 2019-12-22    56
 2019-12-29    54,
             data
 2019-12-29    54
 2020-01-05    60
 2020-01-12    57
 2020-01-19    57
 2020-01-26    56,
             data
 2020-01-26    56
 2020-02-02    54
 2020-02-09    54
 2020-02-16    62
 2020-02-23   100,
             data
 date
 2020-03-01    58
 2020-03-08    37
 2020-03-15    32
 2020-03-22    27
 2020-03-29    24,
             data
 2020-03-29    24
 2020-04-05    22
 2020-04-12    20
 2020-04-19    22
 2020-04-26    24,
             data
 date
 2020-05-03    24
 2020-05-10    27
 2020-05-17    25
 2020-05-24    27
 2020-05-31    22,
             data
 2020-05-31    22
 2020-06-07    23
 2020-06-14    24
 2020-06-21    27
 2020-06-28    25,
             data
 2020-06-28    25
 2020-07-05    25
 2020-07-12    23
 2020-07-19    24
 2020-07-26    24,
             data
 date
 2020-08-02    21
 2020-08-09    24
 2020-08-16    20
 2020-08-23    22
 2020-08-30    21,
             data
 2020-08-30    21
 2020-09-06    22
 2020-09-13    20
 2020-09-20    23
 2020-09-27    20,
             data
 2020-09-27    20
 2020-10-04    22
 2020-10-11    20
 2020-10-18    22
 2020-10-25    20,
             data
 date
 2020-11-01    17
 2020-11-08    19
 2020-11-15    21
 2020-11-22    20
 2020-11-29    19,
             data
 2020-11-29    19
 2020-12-06    18
 2020-12-13    21
 2020-12-20    21
 2020-12-27    22,
             data
 date
 2021-01-03    21
 2021-01-10    22
 2021-01-17    20
 2021-01-24    20
 2021-01-31    20]

In [ ]:
#지금 아무래도 2개의 데이터 프레임이 정상적으로 섞일것 같지가 않다.

In [17]:
#슬슬 도전해 볼까?

model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(5,1)))
model.add(LSTM(64, return_sequences=False)) #return_sequences 가 뭐지?

model.add(Dense(1, activation='linear'))
model.compile(loss='mse', optimizer='rmsprop')
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 5, 50)             10400
_________________________________________________________________
lstm_1 (LSTM)                (None, 64)                29440
_________________________________________________________________
dense (Dense)                (None, 1)                 65
=================================================================
Total params: 39,905
Trainable params: 39,905
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 예상 시나리오중 하나.... 순서대로 해서 9:!로 나누면 뭘 해도 loss가 줄어들지 않을것이다.

In [ ]:
df_1_w

In [18]:
model.fit(df_1_w[:df1_n-c], df2[1:],
         validation_data=(x_test, y_test),
         batch_size=10,
         epochs=20)

NameError: name 'x_test' is not defined

In [21]:
test3 = np.array(range(1,101))
row = int(round(test3.shape[0]*0.9))

In [22]:
row

90

In [ ]:
# 아! 그래 2 행으로 넣자. 어차피 3차원 데이터 이니까...(-,5)
# [[[]]]

# [~~~~]

# [[~~~~],
# [~~~~]]

# [[[~~~~]
# [~~~~]]
# [[~~~~]
# [~~~~]]]  # 1,2,3, 차원.

# test4 = np.array([[[]]])

In [ ]:
import random

random.shuffle(result)

print(result)

In [ ]:
# 나는 지금 저 배열에서 데이터 프레임을 하나씩 꺼내 각 상황에 맞는 넘파이 식을 만들고 싶다....
# .... 그래 그냥 배워야지...

# = df_1_w[:df1_n-c]

In [34]:
lst = [x for x in df_1_w[:df1_n-c]]
test4 = np.array([[[]]])
test4.append(test4,lst)

AttributeError: 'numpy.ndarray' object has no attribute 'append'

In [ ]:
# 판다스의 자표를 알아내기...
# 정 답이 없다면 차라리 어제 사용했던 날짜 게산장치를 이용하자. 그러면 될꺼야.
# 달과  요일을  가져온다음 그걸 날짜 데이터 타입으로 변환? 아니지 이미 날짜 데이터 타입이니까...

# 그러면 거기서 달 +1 한다음 거기다가 연길

In [37]:
def next_month_data_1w_call (Input_date,n): # 이걸 응용 # 변환중....
    forecast_target_month = datetime.timedelta(months=n)
    Calculated_time = Input_date - forecast_target_month
    return Calculated_time

In [23]:
arr = np.array([])
def index_Shuffle_tracking(shuffle_data):
    arr = np.array([])
    for learning_windows in result:
        l_windows_y = learning_windows.index[1].year
        l_windows_m = learning_windows.index[1].month # 여길변경
        print(l_windows_y,l_windows_m)
        
        arr = np.append(arr,np.array(df2[str(l_windows_y)+"-"+str(l_windows_m)]))
    return arr # 아 잠깐만 잠깐만... 이거 쓰기 힘들겠다...

In [36]:
import seaborn as sns
iris = sns.load_dataset("iris")
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]